<h2>Azfaar 2019 Backend coding challenge</h2>
<p>
	Hi, thanks for checking my submission out! This is just a barebones landing page. If you would like to start testing the API please head over to
	<%= link_to "/graphiql", '/graphiql'%>.
</p>
<p>
	To checkout documentation and how to test please go visit <a href="https://github.com/AzfaarQureshi/shopify-backend-2019" > github.com/AzfaarQureshi/shopify-backend-2019<a/>
</p>

<p>
	Thank you!
</p>